*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*COLOR VARIABLES*/
    --color-primary: #5680f9;
    --color-primary-dark: #374786;
    --color-primary-light-1: #7799fa;
    --color-primary-light-2: #99b3fb;
    --color-secondary: #6f5ee3;
    --color-red: #eb5858;
    --color-white: #fff;
    --color-light-blue: #f4f7fc;
    --color-grey-light-1: #f6f6f6;
    --color-grey-light-2: #dfdfdf;
    --color-grey-dark-1: #24305e;
    --color-grey-dark-2: #141827;
    --color-shadow-color: #e1e3eb;
    /* FONT VARIABLES*/
    --font-primary: 'Lato', sans-serif;
    --font-color-black: #131313;
    --font-color-grey: #a3a3a3;
    --font-color-primary: #5680f9;
    /* Breakpoints */
    --bp-largest: 53em;
    @media only screen and (max-width: --bp-largest) {
        font-size: 500px;
    }
}

body {
    line-height: 1.6;
    font-family: var(--font-primary);
}

.container {
    display: grid;
    grid-template-columns: 28rem 1fr;
    grid-template-rows: minmax(100vh, max-content);
    font-size: 1.6rem;
}

.navbar {
    background-color: var(--color-white);
    color: var(--color-grey-dark-2);
    z-index: 2;
    box-shadow: 5px 0px 7px var(--color-shadow-color);
}

.navbar-sticky-area {
    position: fixed;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
    width: 28rem;
    gap: 3rem;
    justify-items: stretch;
    padding: 2rem;
    background-color: var(--color-white);
    color: var(--color-grey-dark-2);
    z-index: 2;
}

.profile {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-top: 2rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 2rem;
}

.profile__icon {
    width: 5rem;
    height: 5rem;
}

.navbar-links {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content;
    gap: 2rem;
    color: var(--color-primary);
}

.navbar-button:link, .navbar-button:visited {
    text-decoration: none;
    color: var(--font-color-grey);
    font-size: 2rem;
    /*border: 3px solid var(--color-grey-light-1);*/
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .1);
    padding: .6rem .6rem .6rem 1rem;
    transition: all .2s ease-out;
}

.navbar-button:hover {
    padding-left: 1.5rem;
}

#navbar-selected {
    color: var(--color-white);
    background-color: var(--color-primary);
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 8rem minmax(100vh, max-content);
    }
    .navbar {
        background-color: var(--color-red);
    }
    .navbar-sticky-area {
        display: grid;
        grid-template-columns: 26rem 1fr;
        grid-template-rows: 1fr;
        z-index: 2;
        width: 100%;
        height: 8rem;
        gap: 3rem;
        padding: 0px 0px 0px 4rem;
        justify-items: stretch;
        background-color: var(--color-white);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, .1);
    }
    .profile {
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 2rem;
        align-items: center;
        justify-items: start;
        font-weight: 300;
        font-size: 2.2rem;
        border-bottom: solid 1px rgba(255, 255, 255, 0);
    }
    .profile__icon {
        width: 4rem;
        height: 4rem;
    }
    .navbar-links {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 2rem;
        align-content: center;
        justify-content: center;
        padding: 1rem;
        height: 8rem;
    }
    .navbar-button:link, .navbar-button:visited {
        text-decoration: none;
        text-align: center;
        color: var(--font-color-grey);
        font-size: 1.4rem;
        padding: 1rem 2.5rem;
        transition: all .2s ease-out;
        margin-top: 4rem;
    }
    .navbar-button:hover {
        transform: translateY(-3px);
    }
}

.content {
    background-color: var(--color-light-blue);
    padding: 4rem 8rem 4rem 8rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
}

/*
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-white);
    padding: 3rem;
    font-weight: 400;
}
*/

.info-personal {
    background-color: var(--color-white);
    font-weight: 400;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-top: solid 5px var(--color-primary);
    box-shadow: 0px 3px 5px var(--color-shadow-color);
    overflow: hidden;
}

.info-personal__title {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 1rem 0px 1rem 1.8rem;
    /*border-bottom: solid 2px rgba(0, 0, 0, .1);*/
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

.info-personal__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    align-items: start;
    justify-items: center;
    padding: 2rem 3rem 2rem 3rem;
}

.info-personal__form__item {
    display: grid;
    grid-template-columns: min-content;
}

.info-personal__form__item>input {
    width: 20rem;
}

.ficha-a {
    background-color: var(--color-white);
    font-weight: 400;
    /*padding: 3rem 3rem;*/
    box-shadow: 0px 3px 5px var(--color-shadow-color);
    border-top: solid 5px var(--color-primary);
}

.ficha-a__title {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 1rem 0px 1rem 1.8rem;
    /*border-bottom: solid 2px rgba(0, 0, 0, .1);*/
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

.ficha-a__antecedentes {
    padding-bottom: 4rem;
    border-bottom: solid 2px var(--color-primary);
}

.ficha-a__antecedentes__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    align-items: start;
    justify-items: center;
    padding: 2rem 3rem 2rem 3rem;
}

.ficha-a__antecedentes__form__item {
    display: grid;
    grid-template-columns: min-content;
}

.ficha-a__antecedentes__form__item>input, .ficha-a__antecedentes__form__item>select {
    width: 20rem;
}

.ficha-a__datos-medicos {
    border-bottom: solid 2px var(--color-primary);
    padding: 4rem 3rem 4rem 3rem;
}

.ficha-a__datos-medicos__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    align-items: start;
    justify-items: stretch;
}

.lista-interactiva {
    display: grid;
    /*padding: 20px;*/
    background-color: var(--color-white);
    box-shadow: 0px 5px 5px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
}

.lista-interactiva__title {
    padding: 1rem 0px 1rem 0px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 10px;
    border-bottom: 1.5px solid rgba(0, 0, 0, .1);
}

.lista-interactiva__select {
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.lista-interactiva__select>select {
    width: 17rem;
    padding: 3px;
    justify-self: center;
}

.lista-interactiva__lista {
    padding: 1rem 2rem 0px 2rem;
    list-style: none;
    text-align: left;
}

.lista-interactiva__lista__li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    text-transform: capitalize;
    background-color: white;
    padding: 0px 5px;
    color: black;
    font-size: 1.4rem;
    /*border: 1px solid rgba(0, 0, 0, .1);*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .15)
}

.ficha-a__medDrogas {
    display: grid;
    border-bottom: solid 2px var(--color-primary);
    padding: 4rem 3rem 4rem 3rem;
}

.ficha-a__medDrogas__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    align-items: start;
}

.ficha-a__medDrogas__form__item {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 1rem;
    box-shadow: 0px 5px 5px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
}

.ficha-a__medDrogas__form__item__title {
    justify-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}

.ficha-a__medDrogas__form__item__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.ficha-a__medDrogas__form__item__input input {
    justify-self: end;
}

.ficha-a__medDrogas__form__item__input input[type=text] {
    width: 100%;
}

.btn:link, .btn:visited, .btn {
    max-width: 50px;
    text-decoration: none;
    position: relative;
    right: -10px;
    color: white;
    padding: 5px 10px;
    transition: all .2s ease-out;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
}

.ficha-a__medDrogas__form__item__title {
    justify-self: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.ficha-a__medDrogas__form__item__lista-drogas__select {
    text-align: center;
}

.ficha-a__medDrogas__form__item__lista-drogas__select>select {
    width: 17rem;
    padding: 3px;
}

.ficha-a__antecedentes-obstetricos {
    display: grid;
}

.ficha-a__antecedentes-obstetricos__title {
    grid-column: 1/-1;
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 2rem 0px 2rem 1.8rem;
    /* border-bottom: solid 2px rgba(0, 0, 0, .1); */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.ficha-a__antecedentes-obstetricos__form {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 3rem 2rem 3rem;
}

.ficha-a__antecedentes-obstetricos__form__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: fit-content;
    box-shadow: 0px 5px 5px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
    padding: 2rem;
}

.ficha-a__antecedentes-obstetricos__form__item__title {
    font-size: 1.8rem;
    justify-self: center;
}

.ficha-a__antecedentes-obstetricos__form__item__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.ficha-a__antecedentes-obstetricos__form__item__input>input {
    justify-self: end;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico {
    grid-row: 2/3;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    box-shadow: 0px 5px 2px var(--color-grey-light-1);
    border-radius: 1rem;
    border: 2px solid var(--color-grey-light-1);
    overflow: hidden;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__title {
    font-size: 1.8rem;
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    grid-column: 1/-1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__seccion-input {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__input {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 1fr 1fr;
    text-align: center;
    justify-items: center;
    justify-content: center;
    /*padding: 0rem 1.5rem 0rem 1.5rem;*/
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico__input>input {
    width: 2rem;
    height: 100%;
}

#ppr, #pter {
    background-color: var(--color-grey-light-1);
    justify-self: center;
    min-width: 5rem;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional {
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    background-color: var(--color-grey-light-1);
    color: var(--font-color-black);
    /*color: rgba(0, 0, 0, .4)*/
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional--inactive {
    color: var(--font-color-grey);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input {
    display: grid;
    text-align: center;
    justify-items: center;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional>.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input:not(:first-child) {
    background-color: var(--color-white);
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    z-index: 1;
    width: max-content;
    justify-self: center;
}

#rn-mayor-peso {
    grid-column: 1/-1;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input input[type=text] {
    /*height: 3rem;*/
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__input input[type=checkbox] {
    height: 1.5rem;
    width: 100%;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr;
    background-color: var(--color-white);
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa__title {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 0px;
    /*border-bottom: 1px solid rgba(0, 0, 0, .15);*/
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa__input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}

.ficha-a__antecedentes-obstetricos__form__item--embarazo-ectopico--seccion-opcional__causa__input input {
    justify-self: center;
}

.btn-azul {
    background-color: var(--color-primary);
    font-size: 1.5rem;
    padding: 4px 8px;
}

.btn-rojo {
    background-color: var(--color-red);
}

.btn-eliminar-pat {
    font-weight: 900;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .13);
}

.btn-eliminar-pat:hover {
    padding-left: 25px;
    text-transform: capitalize;
    box-shadow: 0px 5px 3.5px rgba(0, 0, 0, .1);
}

.btn-eliminar-pat:active {
    box-shadow: 0px 3.5px 2.5px rgba(0, 0, 0, .2);
}

.btn-añadir-a-lista:hover {
    transform: translate(0, -2px);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
}

.btn-añadir-a-lista:active {
    box-shadow: 0px 3.5px 2.5px rgba(0, 0, 0, .2);
}